<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/skin-blue.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <!-- Main Header -->
    <% include ./header %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <div class="dashboard_infobox">
        <section class="content">

          <div class="row">
            <div class="col-md-6">
              <div class="whitebox">
                <div class="content">
                  <div class="row">
                    <div class="col-sm-12 icon-btn-colmun">
                      <a href="javascript:;" class="icon-right"><i><img src="/images/icon-search-green.png" alt="TT"></i></a>
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="list_enrollment_farmers">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Status</th>
                  <th style="text-align:center">Options</th>
                </tr>
              </thead>
              <tbody>
                <% for (var i = 0; i < ttdata.length; i++) { %>
                  <tr>
                    <td><div class="profile_pic"><img src="/images/icon-user.png" alt="user"></div></td>
                    <td><%= ttdata[i].frm_name %> <%= ttdata[i].last_name %></td>
                    <td><%= ttdata[i].city_twn_village %></td>
                    <td><%= ttdata[i].status_name %></td>
                    <td>
                      <div class="edit_icons">
                        <div class="col-md-offset-3 col-md-2">
                          <a href="/enroll/listFields/<%= ttdata[i].farmer_id%>">
                            <img src="/images/icon-view.png" alt="View"></a>
                          </div>
                          <form action="/approval/approve/<%= ttdata[i].farmer_id %>" method="POST">
                            <div class="col-md-2">
                              <input type="image" src="/images/accept.png" alt="Submit">
                            </div>
                          </form>
                          <form action="/approval/reject/<%= ttdata[i].farmer_id %>" method="POST">
                            <div class="col-md-2">
                              <input type="image" src="/images/remove.png" alt="Submit">
                            </div>
                          </form>
                        </div></td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                  <div class="ef_list_btn_botm clearfix">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <ul class="lef_pagination">
                          <!--<li class="disabled"><a href="#">&laquo;</a></li>-->
                          <li class="active"><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <!-- <li><a href="#">&raquo;</a></li>-->
                        </ul>
                      </div>
                      <div class="col-md-6 col-sm-6 ef_list_btn">
                        <button type="submit" class="btn green">Export</button>
                      </div>
                    </div>
                  </div>
                </div>


              </section>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->

        </div>
        <!-- ./wrapper -->
        <!-- REQUIRED JS SCRIPTS -->
        <!-- jQuery 2.2.3 -->
        <script src="/js/jquery-2.2.3.min.js"></script>
        <!-- Bootstrap 3.3.6 -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- AdminLTE App -->
        <script src="/js/app.min.js"></script>
      </body>
      </html>
